<?php
/**
 * @collector noauto
 */
?>

.layout_madonna.oe2016 p::moz-selection,
.layout_madonna.oe2016 span::moz-selection,
.layout_madonna.oe2016 strong::moz-selection,
.layout_madonna.oe2016 h1::moz-selection,
.layout_madonna.oe2016 h2::moz-selection,
.layout_madonna.oe2016 h3::moz-selection,
.layout_madonna.oe2016 a::moz-selection,
.layout_madonna.oe2016 div::moz-selection,
.layout_madonna.oe2016 u::moz-selection,
.layout_madonna.oe2016 img::moz-selection,
.layout_madonna.oe2016 br::moz-selection,
.layout_madonna.oe2016 ul::moz-selection,
.layout_madonna.oe2016 li::moz-selection,
.layout_madonna.oe2016 iframe::moz-selection {
    color: #fff;
    background-color: #cc054a;
}
.layout_madonna.oe2016 p::selection,
.layout_madonna.oe2016 span::selection,
.layout_madonna.oe2016 strong::selection,
.layout_madonna.oe2016 h1::selection,
.layout_madonna.oe2016 h2::selection,
.layout_madonna.oe2016 h3::selection,
.layout_madonna.oe2016 a::selection,
.layout_madonna.oe2016 div::selection,
.layout_madonna.oe2016 u::selection,
.layout_madonna.oe2016 img::selection,
.layout_madonna.oe2016 br::selection,
.layout_madonna.oe2016 ul::selection,
.layout_madonna.oe2016 li::selection,
.layout_madonna.oe2016 iframe::selection {
    color: #fff;
    background-color: #cc054a;
}


.layout_madonna.oe2016 .headerNavLogo {
    padding: 14px 8px 0;
}
.layout_madonna.oe2016 .headerNavLogoCol.logoPortal {
    width: 262px;
}
.layout_madonna.oe2016 .headerNavLogoCol.logoPortal img {
    height: 67px;
}
.layout_madonna.oe2016 .headerNavLogoCol.logoOesterreich {
    width: 590px;
}
.layout_madonna.oe2016 .headerNavLogoCol.logoOesterreich img {
    height: 52px;
    bottom: 16px;
}
.layout_madonna.oe2016 .headerNavLogoCol.logoOesterreich span {
    width: 120px;
    left: 74px;
    bottom: 16px;
}


.layout_madonna.oe2016 .stickyHeader .headerNavLogo {
    padding: 3px 8px;
}
.layout_madonna.oe2016 .stickyHeader .headerNavLogo a,
.layout_madonna.oe2016 .stickyHeader .headerNavLogo a img {
    height: 25px;
}
.layout_madonna.oe2016 .stickyHeader .headerNavLogoCol.logoOesterreich {
    height: 24px;
    width: 682px;
}
.layout_madonna.oe2016 .stickyHeader .headerNavLogoCol.logoOesterreich img {
    right: 0;
    bottom: 0;
}
.layout_madonna.oe2016 .stickyHeader .headerNavLogoCol.logoOesterreich span {
    left: 366px;
    bottom: 0;
}


/* CONSOLE */

.layout_madonna.oe2016 .consoleStoryText {
    width: 850px;
}

.layout_madonna.oe2016 .consoleStoryText .consoleStoryTitle {
    /*font-size: 3rem;*/
}

.layout_madonna.oe2016 .console .consoleBoxHeadline span {
    background-color: #cc054a;
}
.layout_madonna.oe2016 .console .consoleStoryCounter {
    background-color: #cc054a;
}
.layout_madonna.oe2016 .console .buttonPrev,
.layout_madonna.oe2016 .console .buttonNext {
    color: #cc054a;
}
.layout_madonna.oe2016 .consoleNavigationItem:hover p,
.layout_madonna.oe2016 .imageSlideShowWrapper .arrow span:hover {
    color: #cc054a;
}

.layout_madonna.oe2016 .imageSlideShowWrapper .arrow,
.layout_madonna.oe2016 .imageSlideShowWrapper .slideshowOverlayBanner,
.layout_madonna.oe2016 .imageSlideShowWrapper .bigSlideShow .caption .title {
    background-color: #cc054a;
}
.layout_madonna.oe2016 .imageSlideShowWrapper .arrow:hover {
    color: #cc054a;
    background-color: #fff;
}


/* ARTIKELDETAIL */

.layout_madonna.oe2016 .article_box .overlay_box .caption {
    background-color: #cc054a;
}

.layout_madonna.oe2016 .service .comment,
.layout_madonna.oe2016 .service .comment:hover {
    background-color: #cc054a;
}

.layout_madonna.oe2016 .overlay_box .arrow {
    background-color: transparent;
}
.layout_madonna.oe2016 .article_box .overlay_box .caption,
.layout_madonna.oe2016 .article_box .overlay_box .arrowContainer {
    background-color: #cc054a;
}

.layout_madonna.oe2016 .comments .hidePostingDiv,
.layout_madonna.oe2016 .service .breadcrumbs a,
.layout_madonna.oe2016 .service .breadcrumbs a:hover {
    color: #cc054a;
}

.layout_madonna.oe2016 .service .comment,
.layout_madonna.oe2016 .service .comment:hover {
    color: #FFF;
}

.layout_madonna.oe2016 .article_share .socialInlineText {
    color: #cc054a;
}

.layout_madonna.oe2016 .channelTopStoriesHeader {
    background-color: #cc054a;
    color: #FFF;
}

.layout_madonna.oe2016 footer .footer_caption {
    color: #cc054a;
}

.layout_madonna.oe2016 .channelTopStories .channel_box a:hover .story_pretitle,
.layout_madonna.oe2016 .channelTopStories .channel_box a:hover .story_pagetitle {
    color: #cc054a !important;
}

.layout_madonna.oe2016 .service .comment:hover {
    background-color: #eee;
    color: #cc054a;
}

.layout_madonna.oe2016 .relatedArticlesHeadline {
    color: #cc054a;
}

.layout_madonna.oe2016 .sidebar .adSlotAdition {
    margin-bottom: 20px;
}

.layout_madonna.oe2016 .article_pages a {
    color: #cc054a;
}
.layout_madonna.oe2016 .article_pages a.active,
.layout_madonna.oe2016 .article_pages a:hover {
    background-color: #cc054a;
    color: #fff;
}

@font-face {
    font-family: 'PTSerifRegular';
    src: url('/images/fonts/rl2014/pt-serif/PTF55F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTF55F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTF55F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifItalic';
    src: url('/images/fonts/rl2014/pt-serif/PTF56F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTF56F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTF56F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBold';
    src: url('/images/fonts/rl2014/pt-serif/PTF75F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTF75F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTF75F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBoldItalic';
    src: url('/images/fonts/rl2014/pt-serif/PTF76F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTF76F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTF76F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTF76F-webfont.svg#PTSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionRegular';
    src: url('/images/fonts/rl2014/pt-serif/PTZ55F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTZ55F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTZ55F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTZ55F-webfont.svg#PTSerifCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionItalic';
    src: url('/images/fonts/rl2014/pt-serif/PTZ56F-webfont.eot');
    src: url('/images/fonts/rl2014/pt-serif/PTZ56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/rl2014/pt-serif/PTZ56F-webfont.woff') format('woff'),
         url('/images/fonts/rl2014/pt-serif/PTZ56F-webfont.ttf') format('truetype'),
         url('/images/fonts/rl2014/pt-serif/PTZ56F-webfont.svg#PTSerifCaptionItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -------------------- */

/* Row */

.layout_madonna.oe2016 .row:before,
.layout_madonna.oe2016 .row:after {
    content: " ";
    display: table;
}
.layout_madonna.oe2016 .row:after {
    clear: both;
}
.layout_madonna.oe2016 .row {
    *zoom: 1;
}
.layout_madonna.oe2016 .row_margin_top,
.layout_madonna.oe2016 .row_margin_bottom {
    width: 100%;
    height: 14px;
    padding: 0 15px;
    background-color: #fff;
}
.layout_madonna.oe2016 .row_margin_bottom .row_margin_inner {
    border-top: 1px solid #e3e3e3;
}
/* Row Ad */
.layout_madonna.oe2016 .row.row_ad {
    clear: both;
    text-align: center;
    padding: 0 0 14px;
    margin: 0;
    background-color: #fff;
}
.layout_madonna.oe2016 .row.row_ad_hide {
    display: none;
}
.layout_madonna.oe2016 .row.row_ad img,
.layout_madonna.oe2016 .row.row_ad_hide img {
    width: auto;
    height: auto;
}
/* Row Content */
.layout_madonna.oe2016 .content .col {
    float: left;
    margin-bottom: 28px;
}
.layout_madonna.oe2016 .content .col1 {
    width: 100%;
}
.layout_madonna.oe2016 .content .col2 {
    width: 292px;
    margin-right: 36px;
}
.layout_madonna.oe2016 .content .col3 {
    width: 190px;
    margin-right: 25px;
}
.layout_madonna.oe2016 .content .col.last {
    margin-right: 0;
}
.layout_madonna.oe2016 .content .col.break {
    clear: both;
}
.layout_madonna.oe2016 .sidebar .col_default.channel_box {
    width: 292px;
    margin: 0 14px;
}

/*-----------------------------------------------*/

.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine,
.layout_madonna.oe2016 .standardHeadline.madonna h2 {
    font-family: "PTSerifItalic",sans-serif;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 5px 0 0;
    margin: 0;
    color: #000;
    background-color: transparent;
    background-image: none;
}

.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine a:after,
.layout_madonna.oe2016 .standardHeadline.madonna h2 a:after {
    content: "//";
    font-family: "OpenSansLight",sans-serif;
    padding: 0;
    margin: 0;
    color: #cc054a;
    position: relative;
    top: 1px;
}

.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine,
.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine a:after {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.layout_madonna.oe2016 .standardHeadline.madonna h2,
.layout_madonna.oe2016 .standardHeadline.madonna h2 a:after {
    font-size: 2.125rem;
    line-height: 2.125rem;
}

.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine a,
.layout_madonna.oe2016 .standardHeadline.madonna .bigHeadLine a:hover,
.layout_madonna.oe2016 .standardHeadline.madonna h2 a,
.layout_madonna.oe2016 .standardHeadline.madonna h2 a:hover {
    color: #000;
    text-decoration: none;
}

.layout_madonna.oe2016 .standardHeadline.withBigHeadline {
    margin-top: 14px;
}

/*-----------------------------------------------*/

.layout_madonna.oe2016 .row_caption_info {
/* MH START 20150513 Rechte Spalte TabbedBox
    display: none; */
    bottom: -2px;
/* MH END 20150513 Rechte Spalte TabbedBox */
    border-bottom: none;
}

.layout_madonna.oe2016 .row_caption_info img, .row_caption_info span {
    /* MH START 20150513 Rechte Spalte TabbedBox */
    line-height: 1.5;
    height: 30px;
    color: #cc054a;
    /* MH END 20150513 Rechte Spalte TabbedBox */
}

.layout_madonna.oe2016 .content {
    width: 655px;
    padding: 28px 20px 0 15px;
}

.layout_madonna.oe2016 .sidebar {
    width: 335px;
    padding: 28px 0 8px 0;
}

.layout_madonna.oe2016 .content .col {
    margin-bottom: 20px;
}
.layout_madonna.oe2016 .content .col2 {
    width: 300px;
    margin-right: 20px;
}


.layout_madonna.oe2016 .col.madonna a {
    position: relative;
}


.layout_madonna.oe2016 .col.madonna .storyImage {
    width: 300px;
    height: 300px;
}
.layout_madonna.oe2016 .col.madonna.portrait .storyImage {
    height: 620px;
    position: relative;
}
.layout_madonna.oe2016 .col.madonna.portrait.missing .storyImage {
    background-color: #efefef;
}
.layout_madonna.oe2016 .col.madonna.portrait.missing .storyImage:after {
    content: "";
    font-size: .625rem;
    color: #ccc;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.layout_madonna.oe2016 .col.madonna .storyImage {
    margin: 0;
}
.layout_madonna.oe2016 .col.madonna .storyImage img {
    width: 100%;
    background-color: #efefef;
}


.layout_madonna.oe2016 .col.madonna .madonnaStoryInfo {
    font-family: "PTSerifItalic",sans-serif;
    font-weight: 300;
    width: 85%;
    padding: 0 0 0 5px;
    position: absolute;
    left: 0;
    bottom: 24px;
}
.layout_madonna.oe2016 .col.madonna.portrait .madonnaStoryInfo {
    bottom: 24px;
}
.layout_madonna.oe2016 .col.madonna .story_copyright,
.layout_madonna.oe2016 .col.madonna .story_pretitle,
.layout_madonna.oe2016 .col.madonna .story_pagetitle {
    font-family: "PTSerifItalic",sans-serif;
    font-weight: 300;
    display: inline-block;
}
.layout_madonna.oe2016 .col.madonna .story_copyright {
    font-size: .8125rem;
    color: #fff;
    background-color: #cc054a;
}
.layout_madonna.oe2016 .col.madonna .story_pretitle {
    font-family: "OpenSansRegular",sans-serif;
    font-size: .8125rem;
    padding: 0 10px;
    color: #fff;
    background-color: #cc054a;

    font-family: "oe24";
    font-size: .9375rem;
    text-transform: uppercase;
    padding: 4px 10px 0;
}
.layout_madonna.oe2016 .col.madonna .story_pagetitle {
    font-size: 1.5rem;
    color: #000;
    padding: 0;
    margin: 1px 0;
    border-left: 7px solid #fff;
    background-color: transparent;
    display: inline-block;
    overflow: hidden;
}
.layout_madonna.oe2016 .col.madonna .story_pagetitle_background {
    padding-right: 7px;
    background-color: #fff;
    white-space: pre-wrap;
}
.layout_madonna.oe2016 .col.madonna a:hover .story_pretitle {
    color: #fff !important;
    background-color: #f90b5e;
}
.layout_madonna.oe2016 .col.madonna a:hover .story_pagetitle {
    color: #cc054a;
}

/* channelTopStoriesCotnent */
.layout_madonna.oe2016 .content.channelTopStoriesContent {
    width: 990px;
    padding: 0 15px;
}
.layout_madonna.oe2016 .content .col {
    float: left;
    /*
    Durch die geaenderte Spaltenbreite muss der vertikale Abstand
    angepasst werden, damit das Bildformat von 300 x 620 Pixel seitens
    der Redaktion gleich bleiben kann. Ansonsten muessten alle "alten"
    Portrait-Images in ein neues Format konvertiert werden.
    */
    /*margin-bottom: 28px;*/
    margin-bottom: 20px;
}
.layout_madonna.oe2016 .content .col1 {
    width: 100%;
}
.layout_madonna.oe2016 .content .col2 {
    width: 292px;
    margin-right: 36px;
}
.layout_madonna.oe2016 .content .col3 {
    width: 190px;
    margin-right: 25px;
}
.layout_madonna.oe2016 .content .col.last {
    margin-right: 0;
}
.layout_madonna.oe2016 .content .col.break {
    clear: both;
}
.layout_madonna.oe2016 .sidebar .col_default.channel_box {
    width: 292px;
    margin: 0 14px;
}
.layout_madonna.oe2016 .content.channelTopStoriesContent .channelTopStoriesHeader {
    font-family: "PTSerifItalic",sans-serif;
    font-style: 2.125rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin: .75rem 0 18px 0;
    line-height: 1.3;
    padding: 0;
    background-color: transparent;
}
.layout_madonna.oe2016 .content.channelTopStoriesContent .channelTopStoriesHeader:after {
    content: "//";
    font-family: "OpenSansLight",sans-serif;
    font-size: 2.5rem;
    margin-left: 10px;
    color: #cc054a;
    position: relative;
    top: 5px;
}


/*
.layout_madonna.oe2016 .madonna .defaultChannelColor,
.layout_madonna.oe2016 .madonna .defaultChannelHoverColor:hover,
.layout_madonna.oe2016 .madonna .content .storyWrapper:hover .story_pretitle,
.layout_madonna.oe2016 .madonna .content .storyWrapper:hover .story_pagetitle,
.layout_madonna.oe2016 .madonna .content .column a:hover .storyPreTitle,
.layout_madonna.oe2016 .madonna .content .column a:hover .storyTitle,
.layout_madonna.oe2016 .madonna .content .column .storyPreTitle.withMarker:before,
.layout_madonna.oe2016 .madonna .sidebar .teasers a:hover .storyTitle,
.layout_madonna.oe2016 .madonna .videoEntry a:hover .videoPreTitle,
.layout_madonna.oe2016 .madonna .videoEntry a:hover .videoTitle,
.layout_madonna.oe2016 .madonna .slide a:hover .storyPreTitle,
.layout_madonna.oe2016 .madonna .slide a:hover .storyTitle {
    color: #cc054a;
}
*/


/* Voting Artikel */

.layout_madonna.oe2016 .slideshowVoting .slideshowItemsContainer .title {
    background-color: transparent;
}




/* Buchstaben mit Unterlaengen fliesen sonst ineinander */
.layout_madonna.oe2016 .col.col2 .story_pagetitle {
    line-height: 1.25;
}

/* Gewinnspiel */

.layout_madonna.oe2016 .sidebar .defaultbox,
.layout_madonna.oe2016 .sidebar .defaultHtmlBox {
    box-shadow: 0 0 0 1px rgba(213,209,219,.7) !important;
    margin: 0 0 20px 20px;
    width: 300px;
}
.layout_madonna.oe2016 .sidebar .defaultbox .defaultbox_header {
    border-bottom: 1px solid #f0f1f3;
    padding: 10px;
    background-color: transparent;
}
.layout_madonna.oe2016 .sidebar .defaultbox .headline {
    background-color: transparent;
    color: #cc054a;
}
.layout_madonna.oe2016 .sidebar .defaultbox .defaultbox_body {
    padding: 10px;
    background-color: transparent;
}

/* Facebook Like Box */

.layout_madonna.oe2016 .sidebar .defaultHtmlBox {
    box-shadow:  0 0 0 1px rgba(213,209,219,.7);
}
.layout_madonna.oe2016 .sidebar .defaultHtmlBox .headline {
    background-color: transparent;
    color: #cc054a;
    font-family: "PTSerifItalic",sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
    padding: 0 10px;
}

/* Sidebar Instagram Box */

.layout_madonna.oe2016 .sidebar .defaultbox.madonnaInstagramBox .defaultbox_body {
    max-height: 298px;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}


/* Madonna Coverbox */

.layout_madonna.oe2016 .defaultbox.madonna .defaultChannelBackgroundColor {
    background-color: transparent;
}

.layout_madonna.oe2016 .ePaper .defaultbox_header_caption,
.layout_madonna.oe2016 .ePaper .defaultbox_header_subcaption,
.layout_madonna.oe2016 .ePaper .defaultbox_header .headline,
.layout_madonna.oe2016 .defaultbox .headline,
.layout_madonna.oe2016 .sidebar .defaultbox.magazinGewinnspiel .defaultbox_header .headline {
    color: #cc054a;
    font-family: "PTSerifItalic",sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
    padding: 0 10px;
}
.layout_madonna.oe2016 .ePaper {
    background-color: transparent;
}

.layout_madonna.oe2016 .ePaper .title.defaultChannelColor {
    color: #000;
}
.layout_madonna.oe2016 .ePaper a:hover,
.layout_madonna.oe2016 .ePaper a:hover span,
.layout_madonna.oe2016 .ePaper .defaultbox_header a:hover .headline {
    color: #cc054a !important;
}
/* Madonna TV */

.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna {
    margin: 0 0 20px 20px;
    box-shadow: rgba(213, 209, 219, 0.701961) 0 0 0 1px;
    width: 300px;
}

.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna .storyImage.video_container {
    padding: 20px 20px 0 20px;
}
.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer .sidebarVideoBox .title {
    width: 100%;
    margin: 0;
}
.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna .textBox {
    padding: 0 20px 0 20px;
    margin-top: 0;
}
.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna .textBox span {
    background-color: transparent;
    box-shadow: none;
    font-family: "PTSerifItalic", sans-serif;
    font-size: 1.125rem;
    line-height: 1.3;
    height: 53px;
    display: block;
    padding: 3px 0;
    overflow: hidden;
    color: #000;
}

.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna a.sidebarVideoBoxStory:hover .textBox span {
    color: #cc054a;
}
.layout_madonna.oe2016 .sidebar .sidebarVideoBoxContainer.vBoxMadonna .vBoxFooter {
    padding: 2px 10px 10px;
}

.layout_madonna.oe2016 .sidebar .defaultbox.magazinGewinnspiel .vBoxPlayButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #cc054a;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}
.layout_madonna.oe2016 .sidebar .defaultbox.magazinGewinnspiel a:hover h2 {
    color: #cc054a;
}

/* Cooking - Teaser */

.layout_madonna.oe2016 .sidebar .ePaper.cooking24 {
    background-color: transparent;
}
.layout_madonna.oe2016 .sidebar .cooking24 span.defaultbox_header_caption {
    background-color: transparent;
    font-family: "PTSerifItalic",sans-serif;
    font-weight: 300;
    text-transform: none;
    padding: 0 10px;
    color: #cc054a;
    font-size: 1.5625rem;
    line-height: 1.3;
}

.layout_madonna.oe2016 .sidebar .ePaper.cooking24 .bottomLink,
.layout_madonna.oe2016 .sidebar .ePaper.cooking24 span.title {
    font-family: "PTSerifItalic",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
    color: #000;
}
.layout_madonna.oe2016 .sidebar .ePaper.cooking24 span.title {
    margin-bottom: 15px;
}
.layout_madonna.oe2016 .sidebar .ePaper.cooking24 .bottomLink {
    height: 45px;
    overflow: hidden;
    padding: 3px 0;
    margin: 0;
}
.layout_madonna.oe2016 .sidebar .ePaper.cooking24 .ePaperBody:hover a,
.layout_madonna.oe2016 .sidebar .ePaper.cooking24 .ePaperBody:hover a span {
    color: #cc054a;
    text-decoration: none;
}

/* Doppel Teaser */
.layout_madonna.oe2016 .sidebar .defaultbox_header h2 {
    margin: 0;
}

.layout_madonna.oe2016 .sidebar .teaserStories .defaultbox_body {
    padding-bottom: 0;
}
.layout_madonna.oe2016 .sidebar .teaserStoryItem {
    width: 135px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    display: block;
}
.layout_madonna.oe2016 .sidebar .teaserStoryItem.odd {
    margin-right: 0;
}
.layout_madonna.oe2016 .sidebar .teaserStoryImage {
    display: inline-block;
    position: relative;
}
.layout_madonna.oe2016 .sidebar .teaserStoryImage img {
    width: 100%;
}
.layout_madonna.oe2016 .sidebar .teaserStoryPagetitle,
.layout_madonna.oe2016 .teaserText {
    font-family: "PTSerifItalic",sans-serif !important;
    font-size: .875rem !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    line-height: 1.3 !important;
    padding: 3px 0;
    margin: 0;

    height: 45px;
    overflow: hidden;
}
.layout_madonna.oe2016 .sidebar .teaserStoryPagetitle {
    margin-bottom: 2px;
}
.layout_madonna.oe2016 .sidebar .teaserStoryItem:hover,
.layout_madonna.oe2016 .sidebar .teaserStoryItem:hover a,
.layout_madonna.oe2016 .sidebar .teaserStoryItem:hover h2 {
    text-decoration: none;
}
.layout_madonna.oe2016 .sidebar .teaserStoryItem:hover .teaserStoryPagetitle {
    color: #cc054a;
}
.layout_madonna.oe2016 .sidebar .teaserStoryItem:hover .vBoxPlayButton {
    background-position: -58px 0;
}


/* Horoskop */

.layout_madonna.oe2016 .tabbedBox.madonna .tabbedBoxNav a:hover .tabbedBoxNavName,
.layout_madonna.oe2016 .tabbedBox.madonna .tabbedBoxNav a.active .tabbedBoxNavName {
    background-color: #cc054a;
}

/* Story Slider */
.layout_madonna.oe2016 .storySliderBox {
    padding: 0 15px;
}
.layout_madonna.oe2016 .storySliderBox.spaceTop {
    margin-top: 20px;
}
.layout_madonna.oe2016 .storySliderBox.spaceBottom {
    margin-bottom: 20px;
}
.layout_madonna.oe2016 .storySliderContent {
    width: 100%;
    height: 242px;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #d5d1db;
}
.layout_madonna.oe2016 .storySlider {
    width: 872px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}
.layout_madonna.oe2016 .storySliderItem {
    text-align: center;
    line-height: 1;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 9px;
    position: relative;
}
.layout_madonna.oe2016 .storySliderItem a,
.layout_madonna.oe2016 .storySliderItem img {
    display: block;
    width: 100%;
    height: 100%;
}
.layout_madonna.oe2016 .storySliderItemDescripten {
    text-align: left;
    padding: 3px 5px 7px;
    background-color: #1a1a1a;
    position: absolute;
    left: 0;
    bottom: 0;
}
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderPreTitle,
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderTitle {
    font-family: "PTSerifItalic",sans-serif;
    font-size: .9375rem;
    color: #fff;
}
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderPreTitle {
    color: #c8aae3;
}
.layout_madonna.oe2016 .storySliderItem a:hover .storySliderItemDescripten {
    background-color: #cc054a;
}
.layout_madonna.oe2016 .storySliderBox .storySliderPrev,
.layout_madonna.oe2016 .storySliderBox .storySliderNext {
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: -20px 0 0 0;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #cc054a;
    display: block;
    position: absolute;
    top: 50%;
    outline: 0;
}
.layout_madonna.oe2016 .storySliderBox .storySliderPrev {
    left: 0;
}
.layout_madonna.oe2016 .storySliderBox .storySliderNext {
    right: 0;
}

.layout_madonna.oe2016 .storySliderContent {
    border-top: 1px solid #d5d1db;
    border-bottom: 1px solid #d5d1db;
}
.layout_madonna.oe2016 .storySliderItemDescripten {
    background-color: #1a1a1a;
}
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderPreTitle,
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderTitle {
    color: #fff;
}
.layout_madonna.oe2016 .storySliderItemDescripten .storySliderPreTitle {
    color: #c8aae3;
}
.layout_madonna.oe2016 .storySliderBox .storySliderPrev,
.layout_madonna.oe2016 .storySliderBox .storySliderNext {
    color: #fff;
    background-color: #cc054a;
}
.layout_madonna.oe2016 .storySliderBox .storySliderPrev,
.layout_madonna.oe2016 .storySliderBox .storySliderNext {
    color: #fff;
    background-color: #cc054a;
}
.layout_madonna.oe2016 .storySliderBox .storySliderPrev:hover,
.layout_madonna.oe2016 .storySliderBox .storySliderNext:hover {
    background-color: #f90b5e;
    cursor: pointer;
}

/* ContentSlider - oe2016-Version */

.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxHeadline {
    background-color: transparent;
    padding: 4px 10px 0 0;
    margin: 0;
}

.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxCaption:before,
.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxCaption:after {
    content: '';
    font-size: 1px;
    line-height: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
}

.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxCaption {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "oe24";
    text-transform: uppercase;

    display: inline-block;
    font-size: 0.9375rem;
    line-height: 23px;
    height: 20px;
    padding: 0;
    margin: 0;

    overflow: visible;

}

.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxCaption:before {
    float: left;
    margin-right: 38px;
    border-width: 20px 20px 0 0;
    border-color: #fff transparent transparent transparent;
}
.layout_madonna.oe2016 .contentSliderBox .contentSliderBoxCaption:after {
    float: right;
    margin-left: 38px;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #fff transparent;
}

.layout_madonna.oe2016 .contentSlider {
    padding: 10px 34px 25px 34px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;

}


.layout_madonna.oe2016 .contentSliderBox a.slideBox1 {
    width: 100%;
    height: 100% !important;
}
.layout_madonna.oe2016 .contentSliderBox .storyText {
    background-color: #1a1a1a;
    text-align: left;
    padding: 3px 5px 7px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.layout_madonna.oe2016 .contentSliderBox .slideBox1:hover .storyText {
    background-color: #cc054a;
}
.layout_madonna.oe2016 .contentSliderBox .storyText .storyTitle,
.layout_madonna.oe2016 .contentSliderBox .storyText .storyPreTitle {
    color: #fff;
    font-family: "PTSerifItalic",sans-serif;
    font-size: .9375rem;
    display: inline;
    line-height: 1;
}
.layout_madonna.oe2016 .contentSliderBox .storyText .storyPreTitle,
.layout_madonna.oe2016 .madonna .slide a:hover .storyPreTitle {
    color: #c8aae3;
    margin: 0;
}
.layout_madonna.oe2016 .madonna .slide a:hover .storyTitle {
    color: #fff;
}

.layout_madonna.oe2016 .contentSliderBox .next,
.layout_madonna.oe2016 .contentSliderBox .previous {
    background-color: #cc054a;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;

}
.layout_madonna.oe2016 .contentSliderBox .next:hover,
.layout_madonna.oe2016 .contentSliderBox .previous:hover {
    background-color: #f90b5e;
}
.layout_madonna.oe2016 .contentSliderBox .next {
    right: 0;
}
.layout_madonna.oe2016 .contentSliderBox .previous {
    left: 0;
}
.layout_madonna.oe2016 .contentSliderBox .next .arrow,
.layout_madonna.oe2016 .contentSliderBox .previous .arrow {
    fill: #fff;
    stroke: #fff;
    stroke-width: 1px;
}

/* content-slider im artikel */
.layout_madonna.oe2016 .content.article .contentSliderBox {
    width: 100%;
    padding: 0;
    margin: 0;
}
.layout_madonna.oe2016 .content.article .contentSliderBox .slide {
    width: 100%;
    padding: 0;
    margin: 0;
}
.layout_madonna.oe2016 .content.article .article_box .article_body h2 {
    margin: 0;
}
.layout_madonna.oe2016 .content.article .contentSliderBox .descriptionContent {
    background-color: #000;
    color: #fff;
}
.layout_madonna.oe2016 .content.article .contentSliderBox .descriptionContent p {
    margin: 0;
    padding: 2px 6px;
}
.layout_madonna.oe2016 .content.article .contentSliderBox .sliderWrapper {
    position: relative;
}
.layout_madonna.oe2016 .content.article .contentSliderBox .contentSliderBoxCounter {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 2px 4px 2px 5px;
    color: #fff;
    background-color: #000;
}



.layout_madonna.oe2016 .content.article .articleContentSlider {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    opacity: 0;
    height: 0;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    position: relative;
}
.layout_madonna.oe2016 .content.article .articleContentSlider.flickity-enabled {
    opacity: 1;
    height: auto;
}


.layout_madonna.oe2016 .content.article .articleContentSlider .slide {
    float: left;
}

.layout_madonna.oe2016 .content.article .articleContentSlider .slide img {
    display: block;
    width: 100%;
}

.layout_madonna.oe2016 .articleContentSliderBox .sliderCounter {
    background-color: #000;
    top: 15px;
    padding-left: 5px;
}

.layout_madonna.oe2016 .articleContentSliderBox button {
    background-color: #cc054a;
    height: 65px;
    width: 25px;
    padding: 3px;
}
.layout_madonna.oe2016 .articleContentSliderBox button:hover {
    background-color: #fff;
}
.layout_madonna.oe2016 .articleContentSliderBox button:hover path.arrow {
    fill: #cc054a;
    stroke: #cc054a;
}
.layout_madonna.oe2016 .articleContentSliderBox button.next {
    right: 0;
}
.layout_madonna.oe2016 .articleContentSliderBox button.previous {
    left: 0;
}
.layout_madonna.oe2016 .articleContentSliderBox button svg {
    left: 5%;
    top: 10%;
    width: 80%;
    height: 80%;
}
.layout_madonna.oe2016 .articleContentSliderBox button path.arrow{
    fill: #fff;
    stroke: #fff;
}
