<?php
/**
 * @collector noauto
 */
?>

.editorsComment {
    width: 960px;
    padding: 0 24px;
    margin: 0 auto;
    background: #ebebeb;
    position: relative;

    /* zunaechst die Box nicht zeigen */
    height: 0;
    overflow: hidden;
    /*transition: height .2s;*/
}
.editorsComment.distanceTop {
    margin-top: 15px;
}
.editorsComment.distanceBottom {
    margin-bottom: 15px;
}

.editorsCommentContainer {
    width: 912px;
    margin: 0 auto;
}
.editorsCommentRow {
    width: 100%;
}
.editorsCommentRow.slick-slider {
    margin-bottom: 0;
}
.editorsCommentCol {
    padding: 0;
    margin: 10px 6px;
    background-color: #fff;
    float: left;
    /*display: none;*/
}
.editorsCommentBox {
    padding: 4px 8px;
    width: 216px;
}


.editorsCommentCols1 .editorsCommentBox {
    width: 900px;
}
.editorsCommentCols2 .editorsCommentBox {
    width: 444px;
}
.editorsCommentCols3 .editorsCommentBox {
    width: 292px;
}
.editorsCommentCols4 .editorsCommentBox {
    width: 216px;
}


.editorsComment .preTitle {
    font-family: arial,sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0;
    /*margin: 0;*/
    margin: 2px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.editorsComment .title {
    font-family: "oe24",sans-serif;
    /*font-size: 1.5rem;*/
    /*font-size: 1.4rem;*/
    font-size: 1.375rem;
    /*line-height: 1.1;*/
    padding: 2px 0;
    margin: 0;
    color: #010101;
    display: block;

    /* Fixe Hoehe der Columns */
    /*height: 52px;*/
    overflow: hidden;

    line-height: 1.2;
    height: 53px;
}
.editorsComment .leadText {
    font-size: 0.875rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    display: block;
}


.editorsCommentCol:hover {
    text-decoration: none;
}
.editorsCommentCol:hover .preTitle,
.editorsCommentCol:hover .title {
    color: #d0113a;
}


.editorsCommentTop {
    position: relative;
}
.editorsCommentTop .editorText {
    width: 134px;
    color: #fff;
    float: left;
}
.editorsCommentTop .editorTextTopTitle {
    font-size: .75rem;
    line-height: 1.1;
    color: #262626;
    padding: 2px 6px;
    margin-bottom: 3px;
    display: block;
}
.editorsCommentTop .editorTextName {
    font-size: 1.125rem;
    line-height: 1.1;
    padding: 2px 6px;
    display: block;
    color: #fff;
    background-color: #d0113a;
}

.editorsCommentBottom {
    margin-top: 4px;
    padding-top: 2px;
}


.editorsComment .prevArrow,
.editorsComment .nextArrow {
    font-size: 50px;
    text-align: center;
    padding: 0 5px;
    color: #969696;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-63%);
    cursor: pointer;
    /*display: none;*/
}
.editorsComment .prevArrow {
    left: 2px;
    transition: left 0.4s ease 0s, color 0.8s ease 0s;
}
.editorsComment .nextArrow {
    right: 2px;
    transition: right 0.4s ease 0s, color 0.8s ease 0s;
}
.editorsComment .prevArrow:hover {
    left: -2px;
}
.editorsComment .nextArrow:hover {
    right: -2px;
}
.editorsComment .prevArrow:hover,
.editorsComment .nextArrow:hover {
    color: #141414;
}


.editorsComment .prevArrow.arrowDisabled,
.editorsComment .nextArrow.arrowDisabled,
.editorsComment .prevArrow.arrowDisabled:hover,
.editorsComment .nextArrow.arrowDisabled:hover {
    color: #d6d6d6;
    cursor: default;
}
.editorsComment .prevArrow.arrowDisabled:hover {
    left: 2px;
}
.editorsComment .nextArrow.arrowDisabled:hover {
    right: 2px;
}


.editorsCommentTop .editorsImage {
    width: 60px;
    height: 63px;
    padding-top: 9px;
    margin-right: 6px;
    float: left;
}
/*
.editorsCommentTop .editorsImage img {
    width: 100%;
    height: auto;
    display: block;
    width: 0 auto;
}
*/


/* Generated by http://css.spritegen.com CSS Sprite Generator */

.bauernebel-herbert,
.daniel-isabelle,
.fellner-niki,
.fellner-wolfgang,
.krankl-hans,
.polster-toni,
.fink-thorsten,
.hofmann-steffen,
.huetter-adi,
.linz-roland,
.klammer-franz,
.sykora-thomas ,
.riesch-maria,
.unterweger-walter,
.schima-werner,
.schroeder-guenther,
.herrmannmeng-david,
.assinger-armin {
    display: inline-block;
    /*background: url('/images/oe2016/editors/_sprite-2017-02-03.png') no-repeat;*/
    /*background: url('/images/oe2016/editors/_sprite-2017-02-07.png') no-repeat;*/
    /*background: url('/images/oe2016/editors/_sprite-2017-08-24.png') no-repeat;*/
    background: url('/images/oe2016/editors/_sprite-2018-02-08.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.bauernebel-herbert { background-position:  -0px -0px;   width: 60px; height: 54px; }
.daniel-isabelle    { background-position: -60px -0px;   width: 60px; height: 54px; }
.fellner-niki       { background-position:  -0px -54px;  width: 60px; height: 54px; }
.fellner-wolfgang   { background-position: -60px -54px;  width: 60px; height: 54px; }
.krankl-hans        { background-position:  -0px -108px; width: 60px; height: 54px; }
.polster-toni       { background-position: -60px -108px; width: 60px; height: 54px; }

.fink-thorsten      { background-position:  -0px -162px; width: 60px; height: 54px; }
.hofmann-steffen    { background-position: -60px -162px; width: 60px; height: 54px; }
.huetter-adi        { background-position:  -0px -216px; width: 60px; height: 54px; }
.linz-roland        { background-position: -60px -216px; width: 60px; height: 54px; }
.klammer-franz      { background-position:  -0px -270px; width: 60px; height: 54px; }
.sykora-thomas      { background-position: -60px -270px; width: 60px; height: 54px; }
.riesch-maria       { background-position:  -0px -324px; width: 60px; height: 54px; }
.unterweger-walter  { background-position: -60px -324px; width: 60px; height: 54px; }

.schima-werner      { background-position:  -0px -378px; width: 60px; height: 54px; }
.schroeder-guenther { background-position: -60px -378px; width: 60px; height: 54px; }

.herrmannmeng-david { background-position: -00px -432px; width: 60px; height: 54px; }
.assinger-armin { background-position: -60px -432px; width: 60px; height: 54px; }

/*
<div class="bauernebel-herbert"></div>
<div class="daniel-isabelle"></div>
<div class="fellner-niki"></div>
<div class="fellner-wolfgang"></div>
<div class="krankl-hans"></div>
<div class="polster-toni"></div>

<div class="fink-thorsten"></div>
<div class="hofmann-steffen"></div>
<div class="huetter-adi"></div>
<div class="linz-roland"></div>

<div class="klammer-franz"></div>
*/

