<?
/**
 * @collector noauto
 */
?>

.tabbedBox .tabbedBoxNav {
    width: 960px;
    margin: 20px auto 0;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
.tabbedBox .tabbedBoxNav a,
.tabbedBox .tabbedBoxNav .tabbedBoxNavEmpty {
    font-size: .6825rem;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabbedBox .tabbedBoxNav a:hover {
    text-decoration: none;
}
.tabbedBox .tabbedBoxNavName,
.tabbedBox .tabbedBoxNavImage {
    text-align: center;
    display: block;
}
.tabbedBox .tabbedBoxNavName {
    text-transform: uppercase;
    padding: 2px 6px;
}
.tabbedBox .tabbedBoxNav a:hover .tabbedBoxNavName,
.tabbedBox .tabbedBoxNav a.active .tabbedBoxNavName {
    color: #fff;
}
.tabbedBox .tabbedBoxNavImage {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    margin: 10px auto 0;
    background-color: #fdf0f3;
    position: relative;
}
.tabbedBox .tabbedBoxNavImage img {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* TabbedBox Sport */

.tabbedBox.sport .tabbedBoxNav.clubArea {
    background-color: #e4f3f0;
}
.tabbedBox.sport .tabbedBoxNav.clubArea a {
    padding: 0 3px;
}
.tabbedBox.sport .tabbedBoxNavName {
    border-bottom: 1px solid #22b480;
}
.tabbedBox.sport .tabbedBoxNavImage {
    margin: 10px auto 2px;
    background-color: #f6fbfa;
}
.tabbedBox.sport .tabbedBoxNavImage img {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}
.tabbedBox.sport .tabbedBoxNav a:hover .tabbedBoxNavName,
.tabbedBox.sport .tabbedBoxNav a.active .tabbedBoxNavName {
    background-color: #22b480;
}
.tabbedBox.sport .tabbedBoxNav a:hover .tabbedBoxNavImage,
.tabbedBox.sport .tabbedBoxNav a.active .tabbedBoxNavImage {
    background-color: #d2ebe6;
}
.tabbedBox.sport .tabbedBoxNav .tabbedBoxNavClubname {
    font-size: .625rem;
    text-align: center;
    margin: 0 auto 8px;
    color: #22b480;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TabbedBox Oesterreich */

.standardHeadline.bundeslaender .bundeslaenderText,
.standardHeadline.bundeslaender .bundeslaenderLogo {
    float: left;
}
.standardHeadline.bundeslaender .bundeslaenderText {
    width: 70%;
}
.standardHeadline.bundeslaender .bundeslaenderLogo {
    text-align: right;
    width: 30%;
    margin-top: -4px;
    display: block;
}
.standardHeadline.bundeslaender .bundeslaenderLogo img {
    width: auto;
    height: 24px;
}
.tabbedBox.bundeslaender .tabbedBoxNavName {
    /*border-bottom: 1px solid #c51d51;*/
    border-bottom: 1px solid #f50f39;
}
.tabbedBox.bundeslaender .tabbedBoxNavImage {
    margin: 10px auto 0;
    background-color: #fdf0f3;
}
.tabbedBox.bundeslaender .tabbedBoxNavImage img {
    width: 40px;
    height: 50px;
    margin: -23px 0 0 -20px;
}
.tabbedBox.bundeslaender .tabbedBoxNav a:hover .tabbedBoxNavName,
.tabbedBox.bundeslaender .tabbedBoxNav a.active .tabbedBoxNavName {
    /*background-color: #a5163b;*/
    background-color: #f50f39;
}
.tabbedBox.bundeslaender .tabbedBoxNav a.active .tabbedBoxNavImage,
.tabbedBox.bundeslaender .tabbedBoxNav a:hover .tabbedBoxNavImage {
    background-color: #fad9e2;
    /*background-color: #fcbac6;*/
}

.tabbedBox.sport .story_pretitle,
.tabbedBox.bundeslaender .story_pretitle,
.tabbedBox.madonna .story_pretitle {
    float: none;
}


/* TabbedBox Madonna */

.tabbedBox.madonna .horoskopSigns {
    margin-top: 10px;
    background-color: #fff;
}
.tabbedBox.madonna .tabbedBoxNavName {
    border-bottom: 1px solid #ec589f;
}
.tabbedBox.madonna .tabbedBoxNav a:hover .tabbedBoxNavName,
.tabbedBox.madonna .tabbedBoxNav a.active .tabbedBoxNavName {
    background-color: #ec589f;
}


.tabbedBox.sport .story_pretitle,
.tabbedBox.bundeslaender .story_pretitle,
.tabbedBox.madonna .story_pretitle {
    float: none;
}


/* TabbedBox Sidebar */

.oe2016 .tabbedBox.sport .content,
.oe2016 .tabbedBox.bundeslaender .content,
.oe2016 .tabbedBox.madonna .content {
    padding-top: 10px;
}
.oe2016 .tabbedBox.sport .pushDownSidebar,
.oe2016 .tabbedBox.bundeslaender .pushDownSidebar,
.oe2016 .tabbedBox.madonna .pushDownSidebar {
    /*padding-top: 22px;*/
    padding-top: 18px;
}


/* Generated by http://css.spritegen.com CSS Sprite Generator */

.fussball_admira, .fussball_altach, .fussball_austria, .fussball_austria_klagenfurt, .fussball_austria_lustenau,
.fussball_austria_salzburg, .fussball_fac, .fussball_fcw, .fussball_graz, .fussball_groedig,
.fussball_ksv, .fussball_lask, .fussball_liefering, .fussball_mattersburg, .fussball_parndorf,
.fussball_rapid, .fussball_rb_salzburg, .fussball_ried, .fussball_st_poelten, .fussball_vienna,
.fussball_wn_neustadt, .fussball_wolfsberg {
    display: inline-block;
    background: url('/images/oe2016/fussballvereine/sprite_fussball.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-top: 11px;
}

.fussball_admira { background-position: -0px -0px; width: 50px; height: 50px; }
.fussball_altach { background-position: -50px -0px; width: 50px; height: 50px; }
.fussball_austria { background-position: -100px -0px; width: 50px; height: 50px; }
.fussball_austria_klagenfurt { background-position: -150px -0px; width: 50px; height: 50px; }
.fussball_austria_lustenau { background-position: -0px -50px; width: 50px; height: 50px; }
.fussball_austria_salzburg { background-position: -50px -50px; width: 50px; height: 50px; }
.fussball_fac { background-position: -100px -50px; width: 50px; height: 50px; }
.fussball_fcw { background-position: -150px -50px; width: 50px; height: 50px; }
.fussball_graz { background-position: -0px -100px; width: 50px; height: 50px; }
.fussball_groedig { background-position: -50px -100px; width: 50px; height: 50px; }
.fussball_ksv { background-position: -100px -100px; width: 50px; height: 50px; }
.fussball_lask { background-position: -150px -100px; width: 50px; height: 50px; }
.fussball_liefering { background-position: -0px -150px; width: 50px; height: 50px; }
.fussball_mattersburg { background-position: -50px -150px; width: 50px; height: 50px; }
.fussball_parndorf { background-position: -100px -150px; width: 50px; height: 50px; }
.fussball_rapid { background-position: -150px -150px; width: 50px; height: 50px; }
.fussball_rb_salzburg { background-position: -0px -200px; width: 50px; height: 50px; }
.fussball_ried { background-position: -50px -200px; width: 50px; height: 50px; }
.fussball_st_poelten { background-position: -100px -200px; width: 50px; height: 50px; }
.fussball_vienna { background-position: -150px -200px; width: 50px; height: 50px; }
.fussball_wn_neustadt { background-position: -0px -250px; width: 50px; height: 50px; }
.fussball_wolfsberg { background-position: -50px -250px; width: 50px; height: 50px; }

/*
<div class="fussball_admira"></div>
<div class="fussball_altach"></div>
<div class="fussball_austria"></div>
<div class="fussball_austria-klagenfurt"></div>
<div class="fussball_austria-lustenau"></div>
<div class="fussball_austria-salzburg"></div>
<div class="fussball_fac"></div>
<div class="fussball_fcw"></div>
<div class="fussball_graz"></div>
<div class="fussball_groedig"></div>
<div class="fussball_ksv"></div>
<div class="fussball_lask"></div>
<div class="fussball_liefering"></div>
<div class="fussball_mattersburg"></div>
<div class="fussball_parndorf"></div>
<div class="fussball_rapid"></div>
<div class="fussball_rb-salzburg"></div>
<div class="fussball_ried"></div>
<div class="fussball_st-poelten"></div>
<div class="fussball_vienna"></div>
<div class="fussball_wn-neustadt"></div>
<div class="fussball_wolfsberg"></div>
*/


/* Generated by http://css.spritegen.com CSS Sprite Generator */

.bundesland_bgld, .bundesland_ktn, .bundesland_noe, .bundesland_ooe, .bundesland_stmk,
.bundesland_szbg, .bundesland_tirol, .bundesland_vlbg, .bundesland_wien {
    display: inline-block;
    background: url('/images/oe2016/wappen/sprite_bundesland.png') no-repeat; overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-top: 13px;
}

.bundesland_bgld { background-position: -0px -0px; width: 40px; height: 50px; }
.bundesland_ktn { background-position: -40px -0px; width: 40px; height: 50px; }
.bundesland_noe { background-position: -80px -0px; width: 40px; height: 50px; }
.bundesland_ooe { background-position: -0px -50px; width: 40px; height: 50px; }
.bundesland_stmk { background-position: -40px -50px; width: 40px; height: 50px; }
.bundesland_szbg { background-position: -80px -50px; width: 40px; height: 50px; }
.bundesland_tirol { background-position: -0px -100px; width: 40px; height: 50px; }
.bundesland_vlbg { background-position: -40px -100px; width: 40px; height: 50px; }
.bundesland_wien { background-position: -80px -100px; width: 40px; height: 50px; }

/*
<div class="bundesland_wien"></div>
<div class="bundesland_noe"></div>
<div class="bundesland_bgld"></div>
<div class="bundesland_ooe"></div>
<div class="bundesland_szbg"></div>
<div class="bundesland_stmk"></div>
<div class="bundesland_tirol"></div>
<div class="bundesland_ktn"></div>
<div class="bundesland_vlbg"></div>
*/

/* (bs) spinner-animation für ajax loader. */

#oesterreichTabbedBox .content {
    position: relative;
}

#oesterreichTabbedBox .ajaxLoader {
    width: 100%;
    height: 100%;
    /*width: 620px;
    height: 606px;*/
    /*color: #ed1c24;*/
    color: #d0113a;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#oesterreichTabbedBox .ajaxLoader .icon {
    font-family: "icomoon";
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -25px;
}
#oesterreichTabbedBox .animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
