<?php
/**
 * @collector noauto
 * @collector headerSplitArea
 */
?>

.cookiesOverlay {
    width: 990px;
    background-color: #dfdfdf;
    background-color: rgba(223, 223, 223, 0.98);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}
.cookiesOverlay p {
    font-size: .8125rem;
    padding: 3px 15px;
    margin: 0;
    color: #9c9c9c;
    position: relative;
}
.cookiesOverlayText,
.cookiesOverlayClose {
    float: left;
}
.cookiesOverlayText {
    width: 90%;
    padding-left: 6px;
}
.cookiesOverlayClose {
    font-family: arial;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background-color: #dfdfdf;
}
.cookiesOverlayClose:hover {
    text-decoration: none;
    background-color: #ececec;
}
.cookiesOverlayClose:after {
    content: "×";
    text-shadow: 1px 1px #dcdcdc;
    color: #9c9c9c;
}
.cookiesOverlayEnabled {
    display: block;
}


.cookiesOverlay.layout_oe24 {
    /*width: 975px;*/
}
.cookiesOverlay.layout_oe24_mobile {
    width: 100%;
}
.cookiesOverlay.layout_madonna {
    width: 960px;
    margin: 0 15px;
}
.cookiesOverlay.layout_buzz {
    width: 100%;
}


@media only screen and (min-width: 768px) {

    .cookiesOverlay.layout_oe24_mobile {
        width: 70%;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 768px) {

    .cookiesOverlay p {
        font-size: .75rem;
    }
    .cookiesOverlayText {
        width: 86%;
        padding-left: 8px;
    }
    .cookiesOverlayClose {
        font-size: 1.5rem;
        line-height: 1.15;
        width: 32px;
        height: 32px;
    }
}
