<?php
/**
 * @collector noauto
 * @collector headerGesund24
 */

?>

/* gesund24.at */

#wrap {
	/*background: transparent url(<?//slp('image', 'rl2014/bg_gesund24.gif')?>) repeat-y 0 0;*/
	background: transparent url(<?slp('image', 'rl2014/bg_gesund24_white.gif')?>) repeat-y 0 0;
}

h1, h2, h3,
h4, h5, h6,
.article_box .article_teaser {
	color: #333;
}

::-moz-selection {
	color: #fff;
	background-color: #4aa6e8;
}
::selection {
	color: #fff;
	background-color: #4aa6e8;
}

/* nav main */

.nav_main {
	-webkit-box-shadow: 0 2px 7px rgba(8, 162, 222, 0.2);
	-moz-box-shadow: 0 2px 7px rgba(8, 162, 222, 0.2);
	box-shadow: 0 2px 7px rgba(8, 162, 222, 0.2);

	background-color: #4aa6e8;
	background-image: linear-gradient(to bottom, #61b6f4 0px, #3194dd 100%);
}
.nav_main_items .nav_main_item {
	background-color: #dbecf9;
	background-image: linear-gradient(to bottom, #49a5e8 0px, #dbecf9 100%);
}
.nav_main_items .nav_main_item > a {
	background-color: #4aa6e8;
	background-image: linear-gradient(to bottom, #49a5e8 0px, #3194dd 100%);
}
.nav_main_items .nav_main_item > a:hover,
.nav_main_items .nav_main_item > a.active {
	background-color: #77bcee;
	background-image: linear-gradient(to bottom, #48a4e8 0px, #60b5f4 100%);
}
.nav_main.fixed .nav_main_items .nav_main_item > a {
	background-color: #4aa6e8;
	background-image: linear-gradient(to bottom, #61b6f4 0px, #3194dd 100%);
}
.nav_main.fixed .nav_main_items .nav_main_item > a:hover,
.nav_main.fixed .nav_main_items .nav_main_item > a.active {
	background-color: #77bcee;
	background-image: linear-gradient(to bottom, #61b6f4 0px, #60b5f4 100%);
}

/* nav main logo */

.nav_main .nav_main_logo img {
	/*width: 200px;*/
	height: 55px;
	left: 18px;
	top: 12px;
	/*transition: all 3s ease;*/
}
.nav_main.fixed .nav_main_logo img {
	/*width: 109px;*/
	height: 30px;
	left: 64px;
	top: 3px;
}


/* nav weather */

.nav_main_weather:hover .icon_arrow {
	background-color: #77bcee;
	background-image: linear-gradient(to bottom, #48a4e8 0px, #60b5f4 100%);
}


/* subnav */
.subnav_container {
	border-bottom: 6px solid #4aa6e8;
}
.subnav_menu a {
	color: #4aa6e8;
}
.subnav_menu a:hover,
.subnav_menu .active a {
	background-color: #4aa6e8;
}
.subnav_content .top_1:hover,
.subnav_content .top_2:hover,
.subnav_content .more_1:hover,
.subnav_content .more_2:hover,
.subnav_content .more_3:hover {
	color: #4aa6e8;
}


/* row */

.row_caption_title h2 {
    text-shadow: none;
}
.row_caption_title h2,
.row_caption_info span {
	color: #4aa6e8;
}
.row_caption_title h2 a,
.row_caption_title h2 a:hover {
	color: #4aa6e8;
}
.row_caption_info span,
.row_caption_info img {
	/*display: none;*/
}
.content .channel_box.top_story a:hover .caption,
.content .channel_box a:hover .story_pretitle,
.content .channel_box a:hover .story_pagetitle {
	color: #4aa6e8;
}
.content .channel_box .story_leadtext a {
	color: #0283b3;
	display: inline;
}
.content .channel_box .story_leadtext a:hover {
	color: #4aa6e8;
}
.overlay_box .caption {
	background-color: rgba(255, 255, 255, 0.8);
}
.overlay_box .caption,
.overlay_box .copyright {
	color: #484848;
}
.article_box .overlay_box .caption {
	background-color: #4aa6e8;
}

/* slideshow */

.slideshow .arrow {
    color: #4aa6e8;
    background-color: #fff;
}

.slideshow .arrow span {
    color: #4aa6e8;
}

/* artikel */

.article_box a {
	color: #0283b3;
}
.article_box a:hover {
	color: #4aa6e8;
}
.service a,
.service a:hover {
	color: #fff;
}
.service .comment,
.service .comment:hover {
	color: #fff;
    background-color: #4aa6e8;
}
.service .breadcrumbs a,
.service .breadcrumbs a:hover {
	color: #4aa6e8;
    background-color: #fff;
}
.comments form .button {
    color: #fff;
    background-color: #4aa6e8;
}
.comments .commentsContainer comment .name,
.comments .commentsContainer comment .trenner {
	color: #4aa6e8;
}

.article_pages a.active,
.article_pages a:hover {
	color: #fff;
	background-color: #4aa6e8;
}

.article_ticker .btn_ticker_reload {
	background-color: #4aa6e8;
	background-image: linear-gradient(to bottom, #61b6f4 0px, #3194dd 100%);
}
.article_ticker .btn_ticker_reload:hover {
	color: yellow;
}
.article_ticker .ticker_row.first_ticker h3 {
	color: #4aa6e8;
}

/* social button */

.article_social {
    border-right: 2px solid #4aa6e8;
}

/* footer */

footer .footer_caption {
	color: #4aa6e8;
}
footer .nav_items a:hover {
	color: #4aa6e8;
}
footer .footer_col {
	float: left;
	width: 320px;
	padding-left: 28px;
	padding-left: 56px;
}
footer .footer_col.first {
	padding-left: 0;
}

/* defaultbox */

.sidebar .defaultbox_header_icon,
.sidebar .defaultbox_header_caption {
	color: #4aa6e8;
}

/* listbox */

.sidebar .listbox_header span {
    color: #4aa6e8;
}
.sidebar .listbox .listbox_caption .listbox_pre_title {
	color: #4aa6e8;
}

/* konsole */

.content_console .btnLeft, .content_console .btnRight {
    color: #ffffff;
	background-color: #49a5e8;
	background-image: linear-gradient(to bottom, #61b6f4 0%, #3194dd 100%);
}

/* text-slideshow */

.textSlideshow .arrow {
	background-color: #49a5e8;
	background-image: linear-gradient(to bottom, #61b6f4 0%, #3194dd 100%);
}

/* kommentare */

.comments .hidePostingDiv {
	color: #4aa6e8;
}

.comments .commentsContainer .comment .name,
.comments .commentsContainer .comment .trenner {
	color: #4aa6e8;
}

/* search */

.search_box .form_search .button {
	background-color: #4aa6e8;
}
.search_box .search_pages a.active,
.search_box .search_pages a:hover {
	background-color: #4aa6e8;
}

/* topbox */

.topbox_content .topbox_teaser {
	background-color: #4aa6e8;
}
.topbox_content .topbox_teaser:after {
	border-color: transparent #61b1eb transparent transparent;
}

/* immoads sidebar box */

.sidebar .listbox_footer a span {
	color: #4aa6e8;
}


/* video play button */

/*
a:hover .video_container:after {
	color: #fff;
	background-color: #4aa6e8;
	border-color: #4aa6e8;
}
*/

/* content weather */

.weatherBox .weatherTitel,
.weatherBox .weatherNavi a {
	color: #4aa6e8;
}


/* Channel Top Stories des Artikel */
.channelTopStoriesHeader {
	color: #4aa6e8;
}


/* Artikel Slideshow */

.slideshow .slideshowOverlayBanner {
	background-color: #4aa6e8;
}
.imageSlideShowWrapper .slideshowOverlayBanner {
    background-color: #4aa6e8;
}
.slideshow .slideshowOverlayBanner:before {
    border-color: #1d90e2 transparent;
}

.article_share .socialInlineText {
	color: #4aa6e8;
}


/* Breaking News */
.breakingNewsBox a {
	color: #4aa6e8;
}
.breakingNewsAktuell {
	background-color: #4aa6e8;
}
.breakingNewsArrow {
	border-left-color: #4aa6e8;
}


/* (ws) 141107 */
.content .consoleNavigationBox .slickPrev,
.content .consoleNavigationBox .slickNext,
.content .consoleNavigationBox .slickPrev:hover,
.content .consoleNavigationBox .slickNext:hover {
	background-color: #49a5e8;
	background-image: linear-gradient(to bottom, #61b6f4 0%, #3194dd 100%);
}

/* (bs) 2016-02-18 */
.sidebar .vBox .vBoxTitle {
	color: #4aa6e8;
}
.sidebar .vBox .vBoxCurrentDate {
	background-color: #4aa6e8;
}
.content .ticker_box .ticker_header .ticker_titel:after {
	border-bottom-color: #4aa6e8;
	border-top-color: #4aa6e8;
}
.content .ticker_box .ticker_header .ticker_titel {
	background-color: #4aa6e8;
}
.content .ticker_box .ticker_arrow,
.content .ticker_box .ticker_content .ticker_content_part:hover {
	color: #4aa6e8;
}
