<?php
/**
 * @collector noauto
 */
?>


.newstickerChannelHeader {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 0;
}
.newstickerChannelHeaderDatetime {
    font-family: "Open Sans",sans-serif;
    font-size: .75rem;
    font-weight: 700;
    padding: 10px 0;
}
.newstickerChannelHeader a,
.newstickerChannelHeader a:hover {
    text-decoration: none;
}
.newstickerChannelHeaderImage img {
    display: block;
    width: 100%;
}


.newstickerChannel {
    width: 90%;
    padding: 0 0 0 15px;
    margin: 15px auto;
    border-left: 3px solid #d7d7d7;
}
.newstickerChannel a,
.newstickerChannel a:hover {
    text-decoration: none;
}


.newstickerChannelStory {
    display: block;
    width: 100%;
    text-decoration: none;
    position: relative;
}
.newstickerChannelStory:hover {
    text-decoration: none;
}


.newstickerChannelStoryTop {
    padding: 4px 0;
    margin: 0;
    position: relative;
}
.newstickerChannelStoryTop .marker {
    font-size: .1rem;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: #d0113a;
    position: absolute;
    left: -26px;
    top: 7px;
}
.newstickerChannelStoryTop time,
.newstickerChannelStoryTop .topTitle {
    font-family: "Open Sans Condensed",sans-serif;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #d0113a;
}
.newstickerChannelStoryTop .topTitle {
    color: #000;
    margin-left: 5px;
}


.newstickerChannelStoryImage {
    display: block;
    width: 100%;
    padding-bottom: 50%;
    background-color: #dedede;
    position: relative;
}
.newstickerChannelStoryImage img {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.newstickerChannelStory .storyText {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.newstickerChannelStory .storyPreTitle {
    font-family: "Open Sans Condensed",sans-serif;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 10px;
    margin: 0;
    color: #fff;
    background-color: #d0113a;
}
.newstickerChannelStory .storyTitle {
    font-family: "Open Sans",sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    padding: 10px;
    margin: 0;
    color: #fff;
    background-color: rgba(0,0,0,.5);
}
.newstickerChannelStory .storyTitle span {
    display: inline-block;
    width: 70%;
}


.newstickerChannelStoryLeadText p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    padding: 6px 0;
    margin: 0;
}


.newstickerChannelPager {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 20px 0 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.newstickerChannelPager a {
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 7px;
}
.newstickerChannelPager a:hover,
.newstickerChannelPager a.current {
    color: #d0113a;
}

